body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}  
.nav-menu{
    margin-top: 20px;
    margin-right: 60px;
} 

.menu a{
    text-decoration: none;
    float: right;
    padding: 10px;
    color: dimgrey;
    font-weight: 700;
    font-size: 13px;
}
.big-font{
    font-size: 50px;
    margin: 0;
    padding: 0;
    }
p{
    text-align: justify;
}
.name_highlight{
    color: orange;
    }
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.top-text{
    margin-top: 90px;
}
img{
    width: 90%;
    padding-top: 50px;
}
.link-button{
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(45deg, orange, tomato);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.font-size{
    font-size: 30px;
    font-weight: 700;
}
.work-div{
    height: 500px;;
    background-color: #f8f9fc;
    clear: both;
}
.margin-div{
    margin-bottom: 105px;
}
.gallery-div{
    width: 20%;
    float: left;
    padding: 2%;
    margin-left: 4%;
    box-shadow: 5px 5px  20px gray;
    border-radius: 5px;
    background-color: white;
}
.parent-div{
   margin-left: 95px;
}
.inquery-div{
    background-image: url(images/6.png);
    clear: both;
    height: 200px;
    background-repeat: no-repeat;
    width: 70%;
    margin: 50px 180px;
    border-radius: 100px;
    position: relative;
}
.inquery1{
    position: absolute;
    margin: 80px 0 0 50px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.inquery2{
    position: absolute;
    margin: 90px 50px 0 0;
    background-color: tomato;
    color: white;
    right: 20px;
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;

}
.hello{
    margin-top: 100px;
    height: 300px;
}
.hello-text{
    text-align: center;
}
.hello-text h6{
    color: dimgray;
    margin: 0;
    font-size: 25px;
}
.hello-text h2{
    font-size: 50px;
    margin: 0;
}
.hello-icon{
    margin-left: 33%;
}
.hello-icon div{
    float: left;
}
.contact{
    background-color: rgb(241, 241, 241);
    width: 46%;
    padding: 2%;
    float: left;
    color: rgb(56, 49, 49);
}